
	<div class="well col-md-6">
		<h3><%= recipe.name %></h3>
		<p>by <%= User.find(recipe.user_id).email %></p>
		<ul>
			<% recipe.ingredients.each do |ingredient| %>
			<li><%= ingredient.name %>: <%= ingredient.quantity %>   
				<% if user_signed_in? && current_user.id == recipe.user_id %>
				<%= link_to "Edit Ingredient", edit_ingredient_path(ingredient), class: "btn btn-primary" %>
				<%= link_to "Delete Ingredient", ingredient, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger" %>
			</li>
			<% end %>
			<% end %>
			<li><%= recipe.instructions %></li>
		</ul>
		<% if user_signed_in? && current_user.id == recipe.user_id %>
			<%= link_to "Add ingredients", new_ingredient_path(:ingredient => {recipe_id: recipe.id}), class: "btn btn-primary" %>
			<%= link_to "Edit Recipe", edit_recipe_path(recipe), class: "btn btn-primary" %>
			<%= link_to "Delete Recipe", recipe, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger" %>
		<% end %>
	</div>