<%= form_for ingredient do |f| %>
		
		<div class="form-group">
			<%= f.label :name %>
			<%= f.text_field :name, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :quantity %>
			<%= f.text_field :quantity, class: "form-control" %>
		</div>

		<%= f.hidden_field :recipe_id, value: @recipe.id %>
	
	<div class="actions">
	  <%= f.submit "Add", class: "btn btn-primary" %>
	</div>


<% end %>
